<app-navbar></app-navbar>
<div class="container">
  <app-page-title page-title="Categoria" button-text="+ Nova Categoria" button-link="new" button-class="btn-primary">
  </app-page-title>

  <form>
    <div class="form-group form-inline">
      Busque pelo nome ou descrição: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="search"
        (ngModelChange)='changed($event)' />
    </div>
    <ng-container *ngIf="!loading && resources.length > 0 else noData">
      <table class="table table-striped ">
        <thead>
          <tr class="d-flex">
            <th class="col-4">Nome</th>
            <th class="col-6">Descrição</th>
            <th class="col-sm-2">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of resources" class="d-flex">
            <td class="col-sm-4">{{ categoria.nome }}</td>
            <td class="col-sm-6">{{ categoria.descricao }}</td>
            <td class="col-sm-2">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info" [routerLink]="['edit', categoria.id]">Editar</button>
                <button type="button" class="btn btn-danger" (click)="deleteResource(categoria)">Remover</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="size" (pageChange)="getAll()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="size" name="size" (change)="getAll()">
          <option [ngValue]="5">5 itens por página</option>
          <option [ngValue]="10">10 itens por página</option>
          <option [ngValue]="20">20 itens por página</option>
        </select>
      </div>
    </ng-container>

    <ng-template #noData>
      <hr />
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ngb-alert [dismissible]="false" class="text-center" *ngIf="!loading">
        <strong>Sinto muito!</strong> Não foi encontrado nenhuma categoria.
      </ngb-alert>
    </ng-template>
  </form>
</div>


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
