<app-navbar></app-navbar>
<div class="container">
  <app-page-title page-title="Editar Senha" show-button="true" button-text="<< Voltar" button-link="/usuario/meusDados" button-class="btn-outline-info">
  </app-page-title>
  <ng-container *ngIf="errorMessage != null">
    <ngb-alert type="danger" *ngFor="let message of errorMessage" (close)="close(message)">{{message}}</ngb-alert>
  </ng-container>
  <form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
    <div class="card">
      <div class="card-header">
        Formulário para edição de senha
      </div>
      <div class="card-body ">
        <!-- Manutenção -->
        <div  class="form-row">
          <div class="form-group col">
            <label for="inputNovaSenha">Nova senha</label>
            <input type="password" class="form-control" id="inputNovaSenha" placeholder="Digite uma senha"
            formControlName="novaSenha" [ngClass]="{'is-invalid': resourceForm.get('novaSenha').invalid && (resourceForm.get('novaSenha').dirty || resourceForm.get('novaSenha').touched)}">
            <div *ngIf="resourceForm.get('novaSenha').hasError('required') && (resourceForm.get('novaSenha').dirty || resourceForm.get('novaSenha').touched)" class="invalid-feedback">
              Preencha o campo nova senha.
            </div>
            <div *ngIf="resourceForm.get('novaSenha').hasError('minlength') && (resourceForm.get('novaSenha').dirty || resourceForm.get('novaSenha').touched)" class="invalid-feedback">
              Prencha o campo nova senha com mais de 6 caracteres.
            </div>
          </div>
          <div class="form-group col">
            <label for="formGroupExampleInput">Confirme a senha</label>
            <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Digite a mesma senha"
            formControlName="confirmeSenha" [ngClass]="{'is-invalid':( resourceForm.get('confirmeSenha').invalid && (resourceForm.get('confirmeSenha').dirty || resourceForm.get('confirmeSenha').touched)) || errorSenhas}" (keyup)="errorSenhas = false">
            <div *ngIf="resourceForm.get('confirmeSenha').hasError('required') && (resourceForm.get('confirmeSenha').dirty || resourceForm.get('confirmeSenha').touched)" class="invalid-feedback">
              Preencha o campo confirme a senha.
            </div>
            <div *ngIf="resourceForm.get('confirmeSenha').hasError('minlength') && (resourceForm.get('confirmeSenha').dirty || resourceForm.get('confirmeSenha').touched)" class="invalid-feedback">
              Prencha o campo confirme a senha com mais de 6 caracteres.
            </div>

          </div>
        </div>
        <!-- Fim Manutenção -->
      </div>

    </div>

    <button type="button" [disabled]="resourceForm.get('novaSenha').invalid || resourceForm.get('confirmeSenha').invalid" (click)="validarSenhas(content)" class="btn btn-primary btn-lg float-right mt-3" >Atualizar</button>

    <ng-template #content let-modal >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmação de Autenticidade</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="dateOfBirth">Digite sua senha atual</label>
          <input class="form-control" type="password" formControlName="senha">
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" (click)="submitForm()" class="btn btn-success btn-lg"
        [disabled]="submittingForm || resourceForm.invalid">Salvar</button>
      </div>
    </ng-template>

  </form>

</div>
